html {
  border: 2px solid red;
  font-size: 2rem;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, san serif;
  background: linear-gradient(lightyellow, orange);
  height: 100%;
  width: 100%;
}

header {
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid green;
  padding-left: 10vw;
  padding-right: 10vw;
}

select {
  font-size: 1.1rem;
}

.section-container {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
}

.column {
  flex: 1;
  border: 2px solid;
}

img {
  max-width: 900px;
  max-height: 700px;
}

span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}


#dog-name {
  font-size: 1.5rem;
  text-decoration:none;
}


#left-column {
  text-align: center;
}



